@font-face {
  font-family: "Kornilow";
  src: url("../../assets/fonts/Kornilow.ttf");
}

.boss-says {
  display: flex;
  justify-content: center;
}

.boss-says-container {
  width: 1440px;
  height: 591px;
  display: flex;
  flex-direction: row;
}

.boss-says-image {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: var(--Light-Yellow, #e3c37a);
  width: 376px;
  height: 602px;
  background-image: url(../../assets/images/bg-bosssays.png);
}

.boss-says-image img {
  position: relative;
  left: 135px;
}

.boss-says-info {
  width: 1064px;
  display: flex;
  justify-content: right;
}

.says-info-container {
  width: 767px;
  height: 431px;
  display: flex;
  flex-direction: column;
  margin: 80px 55px 80px 0;
}

.quotes {
  color: var(--BG-Gray, #d9d9d9);
  font-family: Kornilow;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 2.56px;
  position: relative;
  width: 0px;
  height: 0px;
}

.quote1 {
  position: relative;
  top: -400px;
  left: 530px;
}

.quote2 {
  position: relative;
  top: -260px;
  left: -90px;
}

.info-container {
  display: flex;
  width: 582px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}

.line-info {
  width: 44px;
  height: 0.5px;
  background: #b1b1b1;
  margin: 0 10px 0 0;
}

.info-container h2 {
  color: var(--Disable-Gray, #b1b1b1);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 24px */
  letter-spacing: 0.32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-container h1 {
  color: var(--Text-Dark, #232228);
  font-family: sans-serif;
  font-size: 40px;
  font-style: normal;
  line-height: 52px; /* 130% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.info-container p {
  color: var(--Dark-Yellow, #a4834e);
}

.says-info-container h3 {
  display: flex;
  width: 523px;
  height: 96px;
  flex-direction: column;
  justify-content: center;
  color: var(--Text-Dark, #232228);
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 24px */
  letter-spacing: 0.32px;
  margin: 40px 0 0 0;
}

.says-info-who h1 {
  color: var(--Text-Dark, #232228);
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 150%; /* 24px */
  text-transform: uppercase;
}

.says-info-who h2 {
  color: var(--Disable-Gray, #b1b1b1);
  /* Text Norm */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 24px */
  letter-spacing: 0.32px;
  margin: 5px 0 0 0;
}

.says-info-who {
  display: flex;
  flex-direction: column;
  margin: 85px 0 0 0;
}

.painting {
  position: relative;
  height: 0px;
  top: -410px;
  left: 500px;
}
