.must-know-blocks {
  display: flex;
  gap: 24px;
}

.must-know-block {
  display: flex;
  width: 306px;
  height: 430px;
  flex-direction: column;
}

.must-know-block-img {
  width: 306px;
  height: 239px;
}

.must-know-block-first-img {
  width: 306px;
  height: 800px;
}

.must-know-block-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 12px;
  margin: 25px;
  height: 100%;
}

.must-know-block-first {
  display: flex;
  width: 306px;
  height: 430px;
  flex-direction: column;
  background-image: url(../../../assets/images/must-know-1block.png);
}

.must-know-block-first h1 {
  color: #ffffff;
}

.must-know-block-first button {
  color: #ffffff;
  background: #00000000;
  display: flex;
  height: 44px;
  justify-content: center;
  align-items: center;
  border: 1px solid #e3c37a;
  width: 110px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.must-know-block button {
  color: #000000;
  background: #00000000;
  display: flex;
  height: 44px;
  justify-content: center;
  align-items: center;
  border: 1px solid #e3c37a;
  width: 110px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.must-know-block h2 {
  color: #b1b1b1;

  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 21px */
  letter-spacing: 0.28px;
}

.must-know-block h1 {
  color: #232228;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
}

.must-know-block-first h2 {
  color: #b1b1b1;

  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 21px */
  letter-spacing: 0.28px;
}

.must-know-block-first h1 {
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
}
