.our-advantages button {
  display: flex;
  height: 44px;
  justify-content: center;
  align-items: center;
  border: 1px solid #e3c37a;
  width: 200px;
  background: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
