.specialist-text {
  height: 382px;
  width: 492px;
  margin: 80px 64px 80px 69px;
}

.specialist-text-line {
  color: var(--Disable-Gray, #b1b1b1);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0.32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.specialist-line {
  width: 44px;
  height: 0.5px;
  background: #b1b1b1;
  margin: 0 10px 0 0;
}

.specialist-text h1 {
  color: var(--Text-Dark, #232228);
  font-family: sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin: 32px 0 0 0;
}
.specialist-text h3 {
  color: var(--Text-Dark, #232228);
  font-family: sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
}

.specialist-text span {
  color: var(--Dark-Yellow, #a4834e);
  margin: 0 0 0 10px;
}

.specialist-text h2 {
  color: var(--Text-Dark, #232228);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0.32px;
  margin: 40px 0 40px 0;
}
.specialist-text button {
  display: flex;
  height: 44px;
  justify-content: center;
  align-items: center;
  border: 1px solid #e3c37a;
  width: 200px;
  background: #ffffff00;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
