.footer {
  height: 63px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5d5d5d;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0.24px;
}
