.reviews-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviews-text h2 {
  color: var(--Disable-Gray, #b1b1b1);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 24px */
  letter-spacing: 0.32px;
}

.reviews-text h1 {
  color: #232228;
  font-family: sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 100;
  line-height: 52px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 15px 0 0 0;
}

.reviews-text span {
  color: #a4834e;
  text-align: center;
}
